# Engagement Aggregation

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('engagement_concat_not_nan.csv')

In [5]:
df.head()

         time    lp_id  pct_access  engagement_index  district_id
0  2020-01-01  32213.0        0.41             18.49         7305
1  2020-01-01  51340.0        0.07              6.85         7305
2  2020-01-01  49062.0        0.07              6.16         7305
3  2020-01-01  99916.0        0.41             10.27         7305
4  2020-01-01  95731.0        0.68             47.26         7305

In [14]:
df.district_id.nunique()

176

In [15]:
df.dtypes

time                 object
lp_id               float64
pct_access          float64
engagement_index    float64
district_id           int64
dtype: object

In [21]:
district=pd.read_csv('district_not_nan.csv')

In [22]:
district.head()

,district_id,state,locale,pct_black/hispanic,pct_free/reduced,county_connections_ratio,pp_total_raw
0,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000["
1,4921,Utah,Suburb,"[0, 0.2[","[0.2, 0.4[","[0.18, 1[","[6000, 8000["
2,5987,Wisconsin,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[10000, 12000["
3,3710,Utah,Suburb,"[0, 0.2[","[0.4, 0.6[","[0.18, 1[","[6000, 8000["
4,7177,North Carolina,Suburb,"[0.2, 0.4[","[0.2, 0.4[","[0.18, 1[","[8000, 10000["

In [8]:
district.shape

(176, 8)

In [11]:
district['state'].unique()

array(['Illinois', 'Utah', 'Wisconsin', 'North Carolina', 'Missouri',
       'Washington', 'Connecticut', 'Massachusetts', 'New York',
       'Indiana', 'Virginia', 'Ohio', 'New Jersey', 'California',
       'District Of Columbia', 'Minnesota', 'Arizona', 'Texas',
       'Tennessee', 'Florida', 'North Dakota', 'New Hampshire',
       'Michigan'], dtype=object)

In [12]:
district['state'].nunique()

23

In [13]:
district['locale'].unique()

array(['Suburb', 'Rural', 'City', 'Town'], dtype=object)

In [16]:
district.dtypes

Unnamed: 0                   int64
district_id                  int64
state                       object
locale                      object
pct_black/hispanic          object
pct_free/reduced            object
county_connections_ratio    object
pp_total_raw                object
dtype: object

## Merge engagement data and district info on district_id

In [23]:
dis_eng_data = pd.merge(district, df, left_on='district_id', right_on='district_id')

In [24]:
dis_eng_data.head()

,district_id,state,locale,pct_black/hispanic,pct_free/reduced,county_connections_ratio,pp_total_raw,time,lp_id,pct_access,engagement_index
0,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000[",2020-01-27,32213.0,100.00,3000.00
1,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000[",2020-02-25,90153.0,33.33,2666.67
2,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000[",2020-02-25,99916.0,0.00,NaN
3,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000[",2020-02-25,28504.0,0.00,NaN
4,8815,Illinois,Suburb,"[0, 0.2[","[0, 0.2[","[0.18, 1[","[14000, 16000[",2020-02-25,95731.0,33.33,333.33

In [25]:
dis_eng_data.isnull().sum()

district_id                       0
state                             0
locale                            0
pct_black/hispanic                0
pct_free/reduced            2444553
county_connections_ratio    1429717
pp_total_raw                5207173
time                              0
lp_id                           399
pct_access                     7362
engagement_index            4297347
dtype: int64

In [26]:
dis_eng_data.shape

(17435744, 11)

In [27]:
dis_eng_data=dis_eng_data[dis_eng_data['engagement_index'].notna()]

In [28]:
dis_eng_data.shape

(13138397, 11)

In [31]:
df1=dis_eng_data[['district_id']+['state']+['pct_access']+['engagement_index']]

In [32]:
df1.head()

   district_id     state  pct_access  engagement_index
0         8815  Illinois      100.00           3000.00
1         8815  Illinois       33.33           2666.67
4         8815  Illinois       33.33            333.33
5         8815  Illinois       25.00           1750.00
6         8815  Illinois       25.00           1750.00

In [33]:
df1.groupby(['state','district_id']).mean()

                        pct_access  engagement_index
state      district_id
Arizona    9007           2.515770        740.788101
California 1570           0.739859        122.185603
           2074           0.173013         56.323151
           2106           0.246275         80.751393
           2172           0.896596        315.531892
...                            ...               ...
Washington 5510           0.249346         43.112281
           7457           0.383513         92.941954
Wisconsin  5987           0.965954        242.227487
           7752           0.913565        198.121378
           8902           2.001604        439.471291

[176 rows x 2 columns]

In [35]:
df2=dis_eng_data[['state']+['pct_access']+['engagement_index']]

In [36]:
df2.groupby(['state']).mean()

                      pct_access  engagement_index
state
Arizona                 2.515770        740.788101
California              0.465093        113.330664
Connecticut             0.954149        257.456419
District Of Columbia    1.116069        261.397662
Florida                 0.282563         64.088064
Illinois                0.762023        200.544588
Indiana                 0.926041        221.990979
Massachusetts           0.794039        217.493218
Michigan                0.445249        104.451529
Minnesota               0.679541        160.833411
Missouri                0.405518         88.400098
New Hampshire           1.235999        328.008548
New Jersey              0.607488        151.081847
New York                1.835287        530.183330
North Carolina          0.276720         76.842376
North Dakota            3.323983        423.002601
Ohio                    0.661547        148.917549
Tennessee               0.416389         72.697953
Texas                   0.268546         73.514148
Utah                    0.511694        119.971871
Virginia                0.440429         98.533299
Washington              0.347421         76.234729
Wisconsin               1.054281        246.439945

In [38]:
df2.to_csv('engagement_by_state.csv', index=False)

In [39]:
df1.to_csv('engagement_by_district_id.csv', index=False)